:root {
    /* variables for colors used throughout CSS file */
    --cuttysark: #597B72;
    --japonica: #d5715f;
    --montecarlo: #8CCEC4;
    --neptune: #85B7C0;
    --whitish: #f9f3de;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    background-color: var(--cuttysark);
    color: var(--montecarlo);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }

h1 {
    font-size: 225%;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

nav a {
    color: var(--montecarlo);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid var(--montecarlo);
    margin: 15px;
}

nav a:hover {
    background-color: var(--montecarlo);
    color: var(--cuttysark);
    border-bottom-color: solid var(--cuttysark);
}

.main-photo {
    height: 500px;
    width: 100%;
    background-image: url("./images/wombat.jpg");
    background-size: cover;
    background-position: center;
}

.main-photo h4 {
    background-color: var(--japonica);
    color: var(--whitish);
    width: 240px;
    padding: 5px;
    position: relative;
    float: right;
    top: 440px;
    right: 10px;
}

/* TODO: titles should be to the right with some padding and have a margin to divide the sections */
section {
    display: flex;
    margin: 20px;
}

h2 {
    font-size: 150%;
    width: 20%;
    text-align: right;
    padding: 15px;
    border-right: 2px solid var(--montecarlo);
    /* flex: 1 1 25%; */
}

article {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 75%;
    padding: 15px;
}

p {
    text-align: left;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    flex-grow: 1;
    flex-basis: 48%;
    border: 4px solid var(--japonica);
    margin: 5px 5px 5px 5px;
    height: 150px;
}

/* TODO: add links in CSS file to websites, maybe add cool animation */
#item-1 {
    flex-basis: 100%;
    height: 300px;
    background-image: url("./images/block-party.PNG");
    background-size: cover;
    background-position: center;
}

#item-2 {
    background-image: url("./images/urology-quiz.PNG");
    background-size: cover;
    background-position: center;
}

#item-3 {
    background-image: url("./images/group-calendar.PNG");
    background-size: cover;
    background-position: center;
}

#item-4 {
    background-image: url("./images/weather-dashboard.PNG");
    background-size: cover;
    background-position: center;
}

#item-5 {
    background-image: url("./images/workday-scheduler.PNG");
    background-size: cover;
    background-position: center;
}

.work-caption {
    background-color: var(--japonica);
    width: 240px;
    padding: 5px;
    position: relative;
    top: 90px;
}

.work-caption h3 {
    font-size: 120%;
}

.work-caption:hover {
    background-color: maroon;
}

#item-1 .work-caption {
    top: 240px;
}

figcaption a {
    text-decoration: none;
    color: var(--whitish);
}

figcaption a:visited {
    text-decoration: none;
    color: var(--whitish);
}

#contact-info article a {
    color: var(--montecarlo);
}

#contact-info article a:visited {
    color: var(--montecarlo);
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }

    nav a {
        border-bottom: 2px solid var(--cuttysark);
    }
  
    main {
      max-width: 1200px;
    }

    section {
        flex-direction: column;
    }

    h2 {
        text-align: left;
        width: 100%;
        border-right: 0px;
        border-bottom: 2px solid var(--montecarlo);
    }

    .grid-item {
        flex-basis: 100%;
    }

    #item-1 {
        height: 150px;
    }

    #item-1 .work-caption {
        top: 90px;
    }
}