:root {
    /* variables for colors used throughout CSS file */
    --cuttysark: #597B72;
    --japonica: #d5715f;
    --montecarlo: #8CCEC4;
    --neptune: #85B7C0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    background-color: var(--cuttysark);
    color: var(--montecarlo);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }

h1 {
    font-size: 225%;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

nav a {
    color: var(--montecarlo);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid var(--montecarlo);
    margin: 15px;
}

nav a:hover {
    background-color: var(--montecarlo);
    color: var(--cuttysark);
    border-bottom-color: solid var(--cuttysark);
}

.main-photo {
    height: 500px;
    width: 100%;
    background-image: url("./images/wombat.jpg");
    background-size: cover;
    background-position: center;
}

/* TODO: titles should be to the right with some padding and have a margin to divide the sections */
section {
    display: flex;
    /* text-align: center; */
    /* flex-grow: wrap; */
    margin: 20px;
}

h2 {
    font-size: 150%;
    width: 20%;
    text-align: right;
    padding: 15px;
    border-right: 2px solid var(--montecarlo);
    /* flex: 1 1 25%; */
}

article {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 75%;
    padding: 15px;
}

p {
    text-align: left;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }

    section {
        flex-direction: column;
        /* TODO: titles for each section should be centered and underlined in this format */
    }

    h2 {
        text-align: left;
        width: 100%;
        border-right: 0px;
        border-bottom: 2px solid var(--montecarlo);
    }
}